body {
  max-width: 375px;
  margin: auto;
  background: #ddd;
  background-image: url(../img/bg-ciment.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #0031FF;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  padding: 0 23px;
  margin-bottom: 53px;
}

nav {
  display: flex;
  padding: 0 23px;
  justify-content: space-between;
}

hr {
  border: 1px solid black;
  margin: 53px 23px 0 23px;
  border-radius: 50px;
}

h2 {
  font-family: 'Plaster', cursive;
  font-size: 30px;
  color: #0031FF;
  text-transform: uppercase;
  margin: 53px 0;
  padding-left: 23px;
}

.long-text {
  font-family: 'Mohave', sans-serif;
  font-size: 17px;
  color: #000000;
  margin: 0;
  padding: 0 23px 0 117px;
}

.long-text br {
  padding: 30px 0;
}

.link-container {
  position: relative;
}

.link-container img {
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  width: 93px;
}

.link-container a {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: black;
  background-color: #ffffff90;
  margin: 0;
  font-family: 'Mohave', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.schedule-graff {
  text-align: left;
  margin: 0;
  margin-left: 235px;
  font-family: 'Mohave', sans-serif;
  font-size: 17px;
  font-weight: bolder;
  padding-top: 30px;
}

.legend-graff {
  position: relative;
  padding: 0 23px;
}

.legend-graff p {
  position: absolute;
  bottom: 10px;
  left: 33px;
  color: black;
  background-color: #ffffff90;
  margin: 0;
  font-family: 'Mohave', sans-serif;
  font-size: 17px;
}

.legend-graff img {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.portrait-lr {
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  width: 100%;
  padding: 30px 0 13px 0;
}

.portrait-rl {
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  width: 100%;
  padding-top: 13px;
}

.container-schedule-skate {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.legend-skate {
  font-family: 'Mohave', sans-serif;
  font-size: 17px;
  margin: 3px 10px;
  color: #000000;
  border: 1px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: fit-content;
  padding-left: 23px;
  margin-left: 0;
  border-left: none;
}

.schedule-skate {
  font-family: 'Mohave', sans-serif;
  font-size: 17px;
  font-weight: bolder;
  color: black;
  display: inline-block;
  position: relative;
  top: 10px;
  right: 30px;
  margin: 0;
  padding: 0 10px;
}

.container-skate-photos {
  display: flex;
  justify-content: space-between;
  padding: 23px;
  width: 320px;
}

.container-skate-photos-inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 211px;
}

.picture-vertical {
  width: 92px;
  border-top-right-radius: 150px;
  border-top-left-radius: 150px;
}

.picture-horizontal-lr {
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
}

.picture-horizontal-rl {
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}

.last-infos-skate {
  padding: 27px 23px 30px 117px;
}

.beatmaking {
  font-family: 'Mohave', sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0 0 15px 23px;
}

.hip-hop,
.end-day {
  font-family: 'Mohave', sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 30px 0 15px 23px;
}

.schedule-music {
  text-align: left;
  margin: 0;
  margin-left: 235px;
  font-family: 'Mohave', sans-serif;
  font-size: 17px;
  font-weight: bolder;
}

.container-music img,
.contact-photo {
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  width: 325px;
  padding-left: 23px;
}

.mail {
  font-family: 'Mohave', sans-serif;
  font-size: 20px;
  color: #0031FF;
  margin: 0;
  padding: 0 23px 0 117px;
}

.contact-infos {
  padding-bottom: 30px;
}

.first-infos-food {
  padding-bottom: 30px; 
}

.container-food-right {
  display: flex;
  justify-content: space-between;
  padding: 15px 23px;
}

.container-food-infos-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3{
  font-family: 'Mohave', sans-serif;
  font-size: 35px;
  font-weight: bolder;
  color: black;
  text-align: right;
  margin: 0;
  text-transform: capitalize;
}

.food-text-right {
  font-family: 'Mohave', sans-serif;
  font-size: 17px;
  color: black;
  text-align: right;
  margin: 0;
}

.container-food-left {
  display: flex;
  justify-content: space-between;
  padding: 15px 23px;
}

.container-food-infos-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.title-left {
  font-family: 'Mohave', sans-serif;
  font-size: 35px;
  font-weight: bolder;
  color: black;
  text-align: left;
  margin: 0;
  text-transform: capitalize;
}

.food-text-left {
  font-family: 'Mohave', sans-serif;
  font-size: 17px;
  color: black;
  text-align: left;
  margin: 0;
}

.contact-photo {
  margin: 0;
  padding: 30px 23px;
}

.food-right,
.food-left {
  width: 115px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}